* {
  box-sizing: border-box;
}

h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  flex-basis: calc(33.333% - 20px);
  box-sizing: border-box;
  position: relative;
  border: #808080 solid 1px;
}

.gallery-image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.image-info {
  color: #2e2f42;
  font-family: 'Montserrat';
  padding: 10px;
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.image-info p {
  font-weight: 600;
  margin: 0;
  text-align: left;
  padding: 4px 20px;
}

.image-info p span {
  display: block;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
}

button {
  font-family: 'Montserrat';
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}
.search-form input {
  font-family: 'Montserrat';
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
}

.loading {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more {
  display: flex;
  margin: 20px auto;
}
